html, body {
  height: 100%;
/*  padding-top: 60px;
  padding-bottom: 40px;*/
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

#mobile-frame{
  border: 1px black !important;
  background-color: #D3E0E8;
  overflow: auto;
}

/*.hero-unit{
  background-image: url("images/home-background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  min-height: 550px;
}*/

/*#main{
  background-image: url("images/home-background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
}*/



.element{
  float: left;
  width: 200px;
  clear: both;
}

.element-name{clear:both;}
.element select input{width: 100% !important;}
.span3 select{width: 100% !important;}
.span3 input{width: 100% !important;}

.fieldcontain{
  position: relative;
  margin: 1em 0;
  padding: 1em 3em 1em 2em;
  color: #ffffff;background-image: url("images/home-background.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  border: 1px solid #2c3f62;
  border-radius: 15px;
  background-color: #2c3f62;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABC8D1), to(#2c3f62));
  background-image: -webkit-linear-gradient(top, #ABC8D1, #2c3f62);
  background-image:    -moz-linear-gradient(top, #ABC8D1, #2c3f62);
  background-image:     -ms-linear-gradient(top, #ABC8D1, #2c3f62);
  background-image:      -o-linear-gradient(top, #ABC8D1, #2c3f62);
}
.fieldcontain_preview{border: 0px solid gray !important;}
.fieldcontain .handle { position: absolute; left: 0; top: 10px; bottom: 0; padding:8px; }
.fieldcontain .fieldButtons{ position: absolute; right: 10px; bottom: -10px;}
.fieldcontain textarea, input{
  width: 100%;
}
.ui-selecting { background: #eee; }
.ui-selecting .handle { background: #ddd; }
.ui-selected { background: #def; }
.ui-selected .handle { background: #cde; }

#options-dialog input{
  max-height: 400px;
  width:200px;
  display:block;
  border: 1px solid #999;
  height: 25px;
  overflow: auto;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.microphone, .camera{
  margin-left:-145px; /*play with this value */
  opacity:0; /* set to .5 or something so you can better position it as an overlay then back to zero again after you're done */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  cursor: pointer;
}

.button-wrapper{
  width: 160px;
  height: 80px;
  border: none;
  overflow: hidden;
  cursor: pointer;
}

.button-wrapper label{
  position: relative;
  top: 35px;
}

.button-camera{
  background: url('../img/camera.png') 0 0 no-repeat;
}

.button-microphone{
  background: url('../img/audio.png') 0 0 no-repeat;
}

.button-gps{
  background: url('../img/online-map.png') 0 0 no-repeat;
}

.box{
  display: block;
  width: 100%;
  height: 100%;
  margin: 15px;
  color: #ffffff;
}
.dragging-element{
  position: relative;
  margin-top: 5px;
  cursor: move;
  vertical-align: middle;
}

/*.former-box{
  color: #ffffff;
  border: 1px solid #2c3f62;
  border-radius: 15px;
  background-color: #2c3f62;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ABC8D1), to(#2c3f62));
  background-image: -webkit-linear-gradient(top, #ABC8D1, #2c3f62);
  background-image:    -moz-linear-gradient(top, #ABC8D1, #2c3f62);
  background-image:     -ms-linear-gradient(top, #ABC8D1, #2c3f62);
  background-image:      -o-linear-gradient(top, #ABC8D1, #2c3f62);
}*/

.icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}

.form-li{
  float: left;
  padding: 5px;
  border: 1px;
  width: 100px;
}
.charlimitinfo{float:left; color:#aa3333 !important; font-size:11px; font-family:vardana}
.img-logo{display: inline !important;}
#loader{
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999999;
}

#map_canvas{
/*  float:left; */
  max-width: 100%;
  background-color: #eee;
}
#filter-area{float: left;}

hr.style-one {
  position: relative;
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
  background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
  background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
  background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

#thumbs{
    width: 100%;
    clear: both !important;
}

#thumbs img{
    width: 100px !important;
    height: 100px !important;
}

.img-item{
    width:110px;
    text-align:center;
    display: block;
    background-color: #ededed;
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
    float:left;
}

#pagination{
  clear: both;
}

a:focus,
.menu-item:focus,
.btn:focus,
:focus{
  outline: 3px solid #f7983a;
}

.img_thumb{
  width: 100px !important;
  height: 100px !important;
}

#download_images{
  clear: both;
}

.record.track.collapsed td:first-child{
  background: url('img/details_open.png') no-repeat scroll center center transparent;
  width: 40px;
}

.record.track.expanded td:first-child{
  background: url('img/details_close.png') no-repeat scroll center center transparent;
  width: 40px;
}

.record.poi.hidden{
  display: none;
}

.record.poi.visible{
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0px auto -91px;
}

#wrap > .container-fluid {
    padding-top: 40px;
}

#push, #footer {
    height: 91px;
}

#push .fieltrip{
  float: right;
  position: relative;
  top: -91px;

}

#home-content,
#map-content{
  padding-bottom: 50px;
  position: relative;
}
#home-content{
  min-width: 821px;
  background-repeat: no-repeat;;
  background-position: top left;
  background-image: url("../img/web-image.jpg");
}

.welcome{
  margin-left: 250px;
  padding-top: 190px;
}

.edina-logo{
  width: 10%;
  float: left;
  display: inline-block;
}

.funders-logo{
  width: 90%;
  margin-left: 95px;
}


.audiojs {
    width: 200px;
}

.audiojs .scrubber {
  width: 140px;
}

.olSpatialMemoriesToolBar{
  margin: 0 5px 0 0;
  right: 0px;
  top: 0px;
  width: 35px;
  height: 50px;
  cursor: pointer;
}

.olSpatialMemoriesToolBar div{
  background-image: url("../img/addmarker.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 50px;
}

.olSpatialMemoriesToolBar .olControlDrawFeatureItemInactive {
    background-position: 0px 0px;
}
.olSpatialMemoriesToolBar .olControlDrawFeatureItemActive {
    background-position: 0px 0px;
}

.olLocationFileToolBar{
  margin: 5px 5px 0 0;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.olLocationFileToolBar div{
  width: 50px;
  height: 50px;
  margin-top: 5px;
}

.olLocationFileToolBar .olLocationFileSelectAreaItemInactive {
    background-image: url("../img/location/select-area_inactive.png");
}
.olLocationFileToolBar .olLocationFileSelectAreaItemActive {
    background-image: url("../img/location/select-area_active.png");
}

.olLocationFileToolBar .olLocationFileSelectTileItemInactive {
    background-image: url("../img/location/select-tile_inactive.png");
}
.olLocationFileToolBar .olLocationFileSelectTileItemActive {
    background-image: url("../img/location/select-tile_active.png");
}

tr.record{
  cursor: pointer;
}

/* Animator popup customisations */
.olPopupContent img{
    max-width: 100% !important;
}
.olPopupContent {
    height: 100% !important;
}
.olPopup{
    height: inherit !important;
}

.navbar-inverse .nav > li > a,
.navbar-inverse .nav > li > span{
  display: block;
  float: none;
  padding: 10px 15px;
  color: #ffffff;
  text-decoration: none;
}

.navbar-inverse .nav > li.active > a
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav > li.active > span,
.navbar-inverse .nav > li > span:hover{
    color: #f7983a;
}

.navbar-inverse .brand{
  color: #ffffff;
}

.navbar-inverse .brand:hover{
  color: #f7983a;
}
.track-speed, .checkbox{
    display: none;
}

.form-actions{
  width: 100%;
  padding: 20px 0 20px 0;
}

.btn-group > .btn:first-child{
  margin-left: 20px;
}

#pause-checkbox{
    display:none;
    padding-top: 2px;
    padding-left: 35px;
}

#animator-myTable,
#memories-container{
    display:none;
}

#fieldcontain-image-1 > img{
  image-orientation: from-image;
}

#popup_container{
    position: absolute;
    top: 0px;
    z-index: 1029;
    background: white;
    padding: 7px;
    width: 29%;
    right: 0px;
    cursor:move;
    display:none;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #888888;
}
audio{
    width: 100%;
}
#preload img{
    display:none;
}
